<mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">USER ACCOUNT</span>
</mat-toolbar>

<div class="container">

<div *ngIf="logged">
    <div style="padding: 30px;">
        <mat-card appearance="outlined" title="Status">
            <!--<img mat-card-image src="../">-->
            <mat-card-header>
                <mat-card-title>{{ this.user?.name }}</mat-card-title>
                <mat-card-subtitle>{{ this.user?.username }} connected</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="padding-top: 10px;">
                    <p>Name: {{ this.user?.name }}</p>
                    <p>Email: {{ this.user?.email }} </p>
                </div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>        
    </div>
</div>

<div *ngIf="logged" style="margin-top: 50px;">

    <div style="padding: 20px;">

        <div style="background-color: yellowgreen;cursor: pointer;" routerLink="/files">
            <button mat-icon-button routerLink="/files" routerLinkActive="router-link-active" routerLink="/register" routerLinkActive="router-link-active" style="margin-top:8px;" title="Register">                        
                <mat-icon>inventory_2</mat-icon>                                                
                <span style="color:black">Files</span>
            </button>    
        </div>
        <div style="height: 10px;"></div>
        <div style="background-color: yellow;padding-top: 10px;cursor: pointer;" routerLink="/notifications">
            <button mat-icon-button routerLink="/notifications" routerLinkActive="router-link-active" style="margin-top:8px" title="Notifications">
                <mat-icon>bolt</mat-icon>
                <span style="color:black">Notifications</span>
            </button>    
        </div>
        <div style="height: 10px;"></div>
        <div style="background-color: lightsalmon;cursor: pointer;" (click)="logout()">
            <button mat-icon-button (click)="logout()" routerLinkActive="router-link-active" style="margin-top:8px" title="Logout">
                <mat-icon>logout</mat-icon>
                <span style="color:black">Logout</span>
            </button>            
        </div>
        
    </div>

</div>

<div *ngIf="!logged" style="margin-top: 50px;">
    <div style="padding: 30px;">

        <div style="background-color: yellowgreen;cursor: pointer;" routerLink="/register">
            <button mat-icon-button routerLink="/register" routerLinkActive="router-link-active" routerLink="/register" routerLinkActive="router-link-active" style="margin-top:8px;" title="Register">                        
                <mat-icon>app_registration</mat-icon>                                                
                <span style="color:black">Register</span>
            </button>    
        </div>
        <div style="height: 10px;"></div>
        <div style="background-color: yellow;padding-top: 10px;cursor: pointer;" routerLink="/login">
            <button mat-icon-button routerLink="/login" routerLinkActive="router-link-active" style="margin-top:8px" title="Login">
                <mat-icon>login</mat-icon>
                <span style="color:black">Login</span>
            </button>    
        </div>
        <div style="height: 10px;"></div>
        <div style="background-color: lightsalmon;cursor: pointer;" routerLink="/recover">
            <button mat-icon-button routerLink="/recover" routerLinkActive="router-link-active" style="margin-top:8px" title="Recover">
                <mat-icon>settings</mat-icon>
                <span style="color:black">Recover</span>
            </button>            
        </div>
        
    </div>        
</div>