<mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">APP NAME</span>
</mat-toolbar>
<div class="container">
    <div style="padding: 40px;text-align: center;">
        <h2>App Simple Description</h2>
    </div>

    <div style="padding: 40px;text-align: center;">
        <h4>App's features</h4>
    </div>
    
    <div style="padding: 40px;text-align: center;">
        <button mat-raised-button routerLink="/user" type="button" style="color:white;background-color: gray;font-size: larger;line-height: 25px;">GO INSIDE!</button>
    </div>
</div>
